// Fonts
$primary-font: 'Roboto';
$secondary-font: 'MuseoModerno';

// Color Schemes
$pop-color: #27AED5;
$main-font-color: rgb(196, 225, 245);
$main-bg: #000000;
$nav-bg-color: rgb(32, 31, 45);
$link-default-color: #27AED5;
$link-hover-color: #ffffff;
$bg-color-dark: #000000;
$bg-color-lighter: #0b1419;


// Default link styling
%default-link-styling {
  a {
    color: $link-default-color;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      color: $link-hover-color;
    }
  } 
}
// Display flex in a column
%flex-column-setup {
  display: flex;
  flex-direction: column;
}

// Display flex in a row
%flex-row-setup {
  display: flex;
  flex-direction: row;
}

// Default body container setup
%body-container-setup {
  padding: 2em;
  z-index: -1;
  font-size: 1.8em;
  color: rgb(160, 175, 194);
}

html, body {
  margin: 0px;
  font-family: $primary-font;
  scroll-behavior: smooth;  
  background-color: $main-bg;
  color: $main-font-color;
}

h2 {
  border-bottom: 1px solid white;
  color: $pop-color; 
}

.info-header {
  padding-bottom: 1.5em;
}


#container {
  @extend %flex-column-setup;
  overflow-x: none;
}


.nav {
  top: 0;
  width: 100%;
  height: 3em;
  padding-top: 1.2em;
  padding-left: 2em;
  position: fixed;
  background-color: $nav-bg-color;
  font-family: $secondary-font;
  z-index: 1;
  
  @extend %default-link-styling
}

// spacing between the links
.navlink {
  padding-right: 50px;
}

// Github button on top right corner
.navButton {
  float: right;
  padding-right: 2em;
}

// spacing between the navgiation and title div
.spacer
{
    width: 100%;
    height: 3.2em;
}

.inner-align {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title, .installation, .authors{
  @extend %body-container-setup;
  @extend %default-link-styling;
  background-color: $bg-color-dark;
}

.about, .demo, .contribute {
  @extend %body-container-setup;
  @extend %default-link-styling;
  background-color: $bg-color-lighter;
}

.main-title {
  font-size: 8em;
  text-align: center;
  text-transform: uppercase;
  line-height: .75;
  color: $main-font-color;
  
}

.sub-title{
  font-size: .85em;
  text-align: center;
  color: $pop-color;
}


.desktopDemo {
  width: 32em;
  opacity: 0.5;
}


.profile {
  text-align: center;
  border-radius: 65% 70%;
  width: 4em;
  padding: 1em;
  opacity: 0.5;
  transition: 1.5s;

}
.profile:hover {
  opacity: 1.0;
}

.authors, .about{
  @extend %flex-column-setup;
  justify-content: center;
}

.authors-profile, .aboutWrap {
  @extend %flex-row-setup;
}

.authors-profile {
  flex-basis: 5em;
}

.aboutContent {
  padding: 2em;
  font-size: 0.8em;
}

.profileDiv {
  text-align: center;
  padding: 2em;
}

.authorName {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: .2em;
}

.authorLink {
  a {
    font-weight: bold;
    font-size: 0.5em;
    color: $link-default-color;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      color: $link-hover-color;
    }
  } 
}


.authors-title {
  justify-content: center;
}




